html,
body {
  overflow: hidden;
  overscroll-behavior: none;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  /* font-size: calc(14px + 0.390625vw); */
  font-size: 16px;
}

#__next {
  display: flex;
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}
img {
    border-style: none;
}

.empty {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-style: italic;
    color: #ccc;
    /* animation: flash 1.5s linear infinite; */
}

@keyframes flash {
    50% {
        opacity: .2;
    }
}

:root {
  --theme-color: #0086ff;
  --border-color: #e5eaed;
  --theme-hover-bg: rgba(238, 242, 244, 0.7);
  /* conversations */
  --active-conversation-bg: linear-gradient(
    to right,
    rgba(238, 242, 244, 0.4) 0%,
    rgba(238, 242, 244, 0) 100%
  );
  /* messages */
  --message-text-bg: #f1f2f6;
  --timestamp-ft-size: .8em;
  --timestamp-color: #999;
  /* sendmessage */
  --sendmessage-padding: 10px;
  --sendmessage-item-padding: var( --sendmessage-padding );
  --sendmessage-item-margin: 0 2px;
  --sendmessage-input-bg: #f8f8fa;
}
