#messages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

.messageItem {
    display: flex;
    flex-direction: column;
    padding: 0 20px 15px;
    font-size: 1em;
}

.messageItem:first-child {
    padding: 15px 20px;
}

.messageItem.owner {
    align-items: flex-end;
}

.messageItemContent {
    display: flex;
}

.messageItemText {
    padding: 7px 12px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-radius: 20px 20px 20px 0;
    font-weight: 300;
    background-color: var( --message-text-bg );
}

.owner .messageItemText {
    --message-text-bg: var( --theme-color );
    border-radius: 20px 20px 0px 20px;
    color: #fff;
}

.messageItemDate {
    margin-top: 2px;
    font-size: var( --timestamp-ft-size );
    font-style: italic;
    color: var( --timestamp-color );
}
