#sendMessage {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 12px;
}

.input {
    flex: 1;
    margin: var( --sendmessage-item-margin );
    padding: var( --sendmessage-item-padding ) 12px;
    color: var( --body-color );
    background-color: var( --theme-hover-bg );
    border: none;
    border-radius: 20px;
    font-size: 15px;
    /* height: 60%; */
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    white-space: pre-line;
    word-break: break-word;
    outline: none;
}

.button {
    margin: var( --sendmessage-item-margin );
    padding: var( --sendmessage-item-padding );
    border-radius: 20px;
    color: var( --theme-color );
    font-size: 1.2em;
}

.button:hover {
    background-color: var( --theme-hover-bg );
}
